<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @enrolment.student %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @enrolment.teacher %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
