<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @progress.lesson %>
</p>

<p>
  <strong>Student:</strong>
  <%= @progress.student %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
