<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @student.fullname %>
</p>

<%= form_with(model: progress, local: true) do |form| %>
<% if progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
        <% progress.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="field">
  <%= form.label :lesson_id %>
  <%= form.text_field :lesson_id %>
</div>

<div class="field">
  <%= form.label :student_id %>
  <%= form.text_field :student_id %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<%= link_to 'Back', students_path %>
