<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student.fullname %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @student.progress.lesson.name %>
</p>

<p><%= link_to 'Update Progress', "/update_student_progress/#{@student.id}" %></p>

<p><%= link_to 'Teachers report', teachers_path %> </p>
