<p id="notice"><%= notice %></p>

<h1><%=  @teacher.fullname %>'s classroom</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>

      <th>Progress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.fullname %></td>

        <td><%= progress_text(student) %></td>

        <td><%= link_to 'Update Progress', "/update_student_progress/#{student.id}" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


