<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :part_number %>
    <%= form.number_field :part_number %>
  </div>

  <div class="field">
    <%= form.label :current_lesson %>
    <%= form.number_field :current_lesson %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
